<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/resources :: headResources('Show')"></head>

<body style="background-color: #222  ">

<header>
	<nav th:replace="fragments/navBar :: topNavBar('pizze')"></nav>
</header>

<main class="text-light">
	<div class="container">
		<h1 class="">Pizza Details</h1>
		<a th:href="@{/pizze}" class="btn btn-primary my-5"> Go back to pizze</a>
		<div th:replace="fragments/components :: message"></div>
		
		<div class="d-flex">
			
			<div class="col-5">
				<div class="card" style="width: 18rem;">
					<img th:src="@{${pizza.url}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 th:text="${pizza.name}" class="card-title"></h5>
						<p th:text="${pizza.description}" class="card-text"></p>
						<ul th:if="${pizza.ingredients.size() > 0}" class="list-group">
							<li class="list-group-item active" aria-current="true">An active item</li>
							<li th:each="ing : ${pizza.ingredients}" class="list-group-item" th:text="${ing.name}">A second item</li>
						</ul>
						<p th:text="€+${pizza.prezzo}" class="card-text my-2"></p>
						<div class="d-flex justify-content-between">
							<a th:href="@{/discounts/create(pizzaId=${pizza.id})}" class="btn btn-success">Add discount</a>
							<!--							<a th:href="@{/pizze}" class="btn btn-danger">Delete</a>-->
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-6">
				
				<h2>Discounts
					<a th:href="@{/discounts/create(pizzaId=${pizza.id})}">
						<i class="fa-solid fa-circle-plus" style="color: #44bc10;"></i>
					</a>
				</h2>
				<table class="table">
					<thead>
					<tr>
						<th>Title</th>
						<th>Start date</th>
						<th>End date</th>
						<th class="text-center">Edit</th>
						<th scope="col" class="text-center">Delete</th>
					
					</tr>
					</thead>
					<tbody>
					<tr th:each="discount : ${pizza.discounts}" th:object="${discount}">
						<td th:text="*{title}"></td>
						<td th:text="*{startDate}"></td>
						<td th:text="*{expireDate}"></td>
						<td class="text-center">
							<a class="btn btn-success"
							   th:href="@{/discounts/edit/{id}(id=*{id})}">
								<i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
							</a>
						</td>
						<td class="text-center">
							<form method="POST" th:action="@{/discounts/delete/{id}(id=*{id})}"
							      onsubmit="return confirm('Are you sure?')">
								<button class="btn btn-danger" type="submit">
									<i class="fa-solid fa-trash" style="color: #ffffff;"></i>
								</button>
							</form>
					
					</tr>
					</tbody>
				</table>
				<div th:if="${pizza.discounts.size() == 0}" class="alert alert-info">the list is empty</div>
			</div>
		
		</div>
	
	</div>
</main>

</body>
</html>